html {
  height: 100vh;
}

@font-face {
  font-family: special;
  src: url('/Oxanium/Oxanium-VariableFont_wght.ttf');
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: rgb(19, 139, 209);
}

#mystery {
  width: auto;
  height: auto;
}

img {
  width: 100px;
  height: 80px;
  border-radius: 10px;
  opacity: 0.7;
}

#trivia-container {
  position: absolute;
  left: 300px;
  top: -100px;
  height: fit-content;
  width: fit-content;
  animation: drop .6s ease-in forwards,
             bounce .2s .6s 1, shimmy .4s ease-out .8s 1,
             pump-up .4s 7s linear 4,
             get-set-trivia .3s 7.8s linear 1 forwards,
             shake-trivia .1s 7.9s linear 9 forwards,
             step-back-trivia .1s 8.9s ease-in 1 forwards,
             collide-trivia .3s 9s ease-in 1 forwards,
             crash-trivia .1s 9.3s ease-in 4 alternate forwards;
}

#number-container {
  position: absolute;
  top: -100px;
  right: 400px;
  height: fit-content;
  width: fit-content;
  transform-origin: left;
  animation: slide-down .5s 2s ease-in forwards, 
             swing .5s 2.6s linear 3 forwards,
             drop-number .6s 4.1s ease-in forwards,
             shimmy-number .5s 4.7s ease-in forwards,
             pump-up .4s 6s linear 3,
             get-set-number .3s 7.4s linear 1 forwards,
             shake-number .1s 7.9s linear 9 forwards,
             step-back-number .1s 8.9s ease-in 1 forwards,
             collide-number .3s 9s ease-in 1 forwards,
             crash-number .1s 9.3s ease-in 4 alternate forwards;
}

#trivia-para, #number-para {
  padding: 0;
  margin: 0;
  font-size: 6em;
  font-family: special, sans-serif;
  color: #fff;
  animation: mad-red 0.4s 4.7s ease-in 1 forwards;
}

@keyframes drop {
  from {
    top: -100px;
  }
  to {
    top: 300px;
  }
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
    transform-origin: (15px, 3px);
  }
  50% {
    transform: translate3d(5px, -30px, 0);
  }
  75% {
    transform: translate3d(-5px, 8px, 0);
    transform-origin: center;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes shimmy {
  from {
    transform: rotate(-20deg);
  }
  25% {
    transform: rotate(24deg);
  }
  50% {
    transform: rotate(-12deg);
  }
  75% {
    transform: rotate(8deg);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes slide-down {/* number container only */
  from {
    top: -100px;
  }
  to {
    top: -50px;
  }
}

@keyframes swing {
  from {
    transform: rotate(0);
  }
  50% {
    transform: rotate(155deg);
  }
  to {
    transform: rotate(20deg);
  }
}

@keyframes drop-number {
  from {
    transform-orgin: right;
    transform: rotate(20deg);
    top: -50px;
  }
  100% {
    top: 280px;
  }
}

@keyframes shimmy-number {
  from {
    top: 280px;
    transform: rotate(20deg);/* need this .. */
    transform-origin: right;
  }
  25% {
    top: 285px;
    transform: rotate(-18deg);
  }
  50% {
    top: 290px;
    transform: rotate(13deg);
    transform-origin: center;
  }
  75% {
    top: 295px;
    transform: rotate(-7deg);
  }
  100% {
    top: 300px;
    transform: rotate(0);
  }
}

@keyframes pump-up {
  from {
    transform: scale(1);
  }
  33% {
    transform: scale(1.1);
  }
  66% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes get-set-number {
  from {
    right: 400px;
    transform: scale(1);
  }
  to {
    transform: scale(.9);
    right: 370px;
  }
}

@keyframes get-set-trivia {
  from {
    left: 300px;
    transform: scale(1);
  }
  to {
    transform: scale(.9);
    left: 270px;
  }
}

@keyframes shake-number {
  from {
    transform: skew(0,0);
  }
  to {
    transform: skew(6deg, -7deg);
    right: 360px;
  }
}

@keyframes shake-trivia {
  from {
    transform: skew(0,0);
  }
  to {
    transform: skew(-6deg, 8deg);
    left: 260px;
  }
}

@keyframes step-back-number {
  from {
    right: 360px;
  }
  to {
    right: 330px;
  }
}

@keyframes step-back-trivia {
  from {
    left: 260px;
  }
  to {
    left: 230px;
  }
}

@keyframes collide-number {
  from {
    right: 330px;
    transform: skew(6deg, -7deg);
  }
  to {
    right: 684px;
    transform: skew(0, 0);
  }
}

@keyframes collide-trivia {
  from {
    left: 230px;
    transform: skew(-6deg, 8deg);
  }
  to {
    left: 640px;
    transform: skew(0, 0);
  }
}

@keyframes crash-number {
  from {
    transform: scale(1,1);
  }
  to {
    transform: scale(0.5, 2.0);
  }
}

@keyframes crash-trivia {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(0.5, 2.0);
  }
}

@keyframes text-red {
  0% {
    opacity: 1;
    color: #fff;
  }
  25% {
    opacity: 0;
  }
  50% {
    color: red;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    color: #fff;
  }
}

@keyframes mad-red {
  0% {
    color: #fff;
  }
  100% {
    color: red;
  }
}